h1 {
    color: darkblue;
    font-size: 50px;
}
h2 {
    color: darkred;
}
body {
  background-image: url("./download.png");
  background-color: #cccccc;
 }
#button1 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}
#button2 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}
#button3 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}
#button4 {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}
label {
    width: 100px;
    display: inline-block;
}
#a1,#a2,#a3,#a4,#a5 {
    color: #0e0d0d;
    text-decoration: none;
}